ul li {
    list-style: none;
}

.prevCity {
    background-color: rgb(255, 195, 127);
}

.good {
    background-color: rgb(117, 255, 152);
    color: white;
    border-radius: 4px;

}

.mild {
    background-color: rgb(238, 252, 54);
    color:black;
    border-radius: 10px;
}

.warning {
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 10px;
}